@import '../../constants/variables'

.img
  background-image: url("../../img/welcome-image.jpg")
  background-position-y: center
  background-size: cover
  width: 100%
  height: 80vh
  display: flex
  align-items: center
  justify-content: center

.title
  text-align: center
  background-color: rgba(17, 17, 17, 0.9)
  padding: 4rem
  border-radius: 0.4rem
  width: 50%

.section
  display: flex
  align-items: center
  justify-content: space-between
  text-align: center
  padding: 3rem 6rem
  border-top: $border

.section:last-child
  border-bottom: 0

.section img
  width: 48%
  border-radius: 0.4rem

.text
  padding: 0 2rem 0 0

.reversed
  flex-direction: row-reverse

.reversed > .text
  padding: 0 0 0 2rem


@media (max-width: 768px)
  .title
    padding: 3rem

  .section
    display: block
    padding: 2rem

    img
      display: block
      margin: 0 auto
      width: 75%

  .text
    padding: 0
    margin-bottom: 2rem

@media (max-width: 576px)
  .title
    border-radius: 0
    width: 100%
